.charList {
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Gallery img {
  border: solid black 2px;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}
